* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

p {
    cursor: default;
}

html {
    height: cover;
    overflow-y: none;
    color: white;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
}

footer {
    height: 3em;
    position: sticky;
    bottom: 0;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body.body {
    background-image: url('../img/defaultbg-2.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -10;
}

div.reticuleindex {
    z-index: -10;
    height: 70%;
    width: 40%;
}

table.appsreticule {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    color: #FFFFFF;
    text-shadow: 3px 5px 7px #474747;
    position: absolute;
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    padding-bottom: 10px;
}

td {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    padding: 2.5px;
    position: relative;
    border: 1px solid rgba(0, 89, 255, 0);
    width: 10em;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.199);
    border: 1px dotted white;
}

td.blocked:hover {
    background-color: rgba(255, 0, 0, 0.199);
    border: 1px dotted red;
}

div.appsreticule p {
    margin: 0;
}

td>div>img.appicon {
    height: 60px;
    width: auto;
    text-align: center;
}

div.centered-windows {
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    height: auto;
}

div.blocked-alert {
    overflow: visible;
    z-index: 1;
    position: absolute;
    display: flex;
    width: 60%;
    height: 20%;
    border: 1px solid black;
    justify-self: center;
    background-color: rgba(202, 202, 202, 0.979);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 18px 25px 0px -30px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 18px 25px 0px -30px rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-top: 50em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

div.blocked-alert-header {
    display: flex;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: flex-end;
}

div.alert-name {
    display: flex;
    justify-content: flex-start;
}

div.blocked-alert-top-buttons {
    display: flex;
    align-items: right;
}

img.blocked-alert-minimizebtn {
    height: 30px;
    width: auto;
}

img.blocked-alert-fullscreenbtn-disabled {
    height: 30px;
    width: auto;
}

img.blocked-alert-closebtn {
    height: 28px;
    width: auto;
}

div.blocked-alert-body {
    margin: 0.7em 0.7em 0em 0.7em;
    background-color: rgb(151, 38, 30);
    height: 4.6em;
    display: flex;
}

img.prohibited-mini-icon {
    height: 4em;
    margin-left: 10px;
    margin-top: 5px;
}

p.apptitle {
    word-wrap: break-word;
}
div.windows {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 31%;
}

iframe {
    margin-top: 0;
    padding-top: 0;
    top: 11.6%;
    z-index: 10;
    position: absolute;
    width: 70%;
    height: 75%;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.979);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 18px 25px 0px -30px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 18px 25px 0px -30px rgba(0, 0, 0, 0);
    margin-left: 20%;
}

iframe.admintareas{
    border-top: 0;
}

div.leftmenu {
    z-index: 1000;
    position: absolute;
    display: inline-flex;
    bottom: 3em;
    width: 40vw;
    height: 60%;
    border-bottom: 0;
    background-color: transparent;
    background-color: rgba(14, 14, 14, 0.98);

}

div.lm-col01 {
    width: 3.25em;
    height: 100%;
    display: block;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}

p.group-title {
    margin-top: 0.5em;
    margin-left: 0.25em;
}

li.col2-containers {
    display: inline-flex;
    margin-bottom: 0.25em;
}

img.col2-img {
    height: 1.10em;
    width: auto;
    margin-right: 0.25em;
    margin-top: 0.25em;
}

p.card-title {
    font-size: 0.7em;
}

div.min-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-spc {
    width: cover;
    height: 37.5em;
    width: 3.25em;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

img.menu-ic-col {
    height: 1.75em;
    width: auto;
    margin-top: 0.25em;
}

div.ic-sp-end {
    display: block;
    width: cover;
    height: auto;
    justify-content: flex-end;
    flex-direction: row;
}

div.pfp-ic-sp {
    width: cover;
    height: 3em;
}

div.doc-ic-sp {
    width: cover;
    height: 3em;
    background-color: rgba(14, 14, 14, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.img-ic-sp {
    width: cover;
    height: 3em;
    background-color: rgba(14, 14, 14, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.config-ic-sp {
    width: cover;
    height: 3em;
    background-color: rgba(14, 14, 14, 0.98);
    display: flex;
    justify-content: center;
}

div.shtd-ic-sp {
    display: flex;
    width: cover;
    height: 3em;
    background-color: rgba(14, 14, 14, 0.98);
    justify-content: center;
    align-items: center;
}

img.pfp-ic {
    height: 3em;
    width: cover;
}

img.doc-ic {
    height: 1.9em;
    width: cover;
}

img.img-ic {
    height: 2.4em;
    width: cover;
}

img.shtd-ic {
    height: 1.75em;
    width: cover;
}

img.config-ic {
    height: 2.4em;
    width: cover;
}

div.lm-col02 {
    width: 11vw;
    background-color: rgba(14, 14, 14, 0.98);
}

div.lm-col03 {
    width: 24.25vw;
    background-color: rgba(14, 14, 14, 0.98);
    display: flex;
    overflow: visible;
    flex-direction: column;
}

div.bottombar {
    background-color: rgba(14, 14, 14, 0.98);
    height: 3em;
    width: cover;
    position: sticky;
    bottom: 0;
    float: center;
    display: inline-flex;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
}

div.lefticons-bttmbar {
    color: #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div.righticons-bttmbar {
    display: inline-flex;
}

img.taskbar-icon {
    width: auto;
    height: 2.5em;
    display: flex;
}

div.tskbr-ic-hv {
    width: 3.75em;
    height: 3.25em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.tskbr-ic-hv:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

img.windowslogo {
    width: auto;
    height: 2.625em;
    padding-left: 7.5px;
    padding-top: 4.25px;
    padding-right: 7.5px;
}

img.windowslogo:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

div.srch-br-support {
    width: cover;
    height: cover;
    position: sticky;
    height: 5vh;
    background-color: white;
}

input.srch-br {
    border: 0px;
    height: 3.2em;
    margin-top: -4px;
    margin-bottom: 0;
    padding-left: 1vh;
    text-align: left;
    width: 22em;
    font-family: 'Open Sans', sans-serif;
    color: rgb(71, 71, 71);
    overflow: none;
    background-color: white;
    font-size: 1em;
}

p#date,
p#time {
    text-align: center;
    margin-right: 1em;
}

div.rght-col-0 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 1em;
}

img.wifi-icon {
    width: auto;
    height: 1.2em;
    padding: 0.85em;
}

img.bluetooth-icon {
    width: auto;
    height: 1.5em;
    margin-right: 0.5em;
    padding: 0.8em;
}

img.bluetooth-icon:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

img.wifi-icon:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

div.rght-col-2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 1em;
    width: 3em;
}

div.rght-col-2:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

img.notification-centre {
    width: auto;
    height: 2em;
}

img.cortanalogo {
    width: auto;
    height: 2.3em;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.resolution {
    display: none;
}

.left-container {
    height: 6em;
    margin: 10px 10px 10px 30px;
    display: inline-flex;
    gap: 1em;
    justify-content: space-evenly;
    margin-top: 1.75em;
}

.suggested-card {
    width: 300px;
    height: 7.5em;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid rgb(100,100,100);
}

.suggested-card p {
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    width: 100%;
}

span.j {
    width: 90%;
    position: relative;
    bottom: -4.2em;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .resolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        font-size: larger;
        font-family: "Helvetica", "Arial";
        z-index: 10;
    }
    .resolution a {
        cursor: help;
        color: black;
    }
    iframe {
        visibility: hidden;
    }
    div.leftmenu {
        visibility: hidden;
    }
}

@media screen and (max-height:500px) {
    .resolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        color: black;
        font-size: larger;
        font-family: "Helvetica", "Arial";
        z-index: 10;
    }
    .resolution a {
        cursor: help;
    }
    iframe {
        visibility: hidden;
    }
    div.leftmenu {
        visibility: hidden;
    }
}
