* {
    padding: 0;
    border: 0;
}

body {
    background-color: #212121;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    overflow: hidden;

}
.tab{
height: 12%;
}


.Español_show {
    display: block;
    width: 100%;
    height: 100%;
}

.Catalan_hide {
    display: none;
}

.Gallego_hide {
    display: none;
}

.Euskera_hide {
    display: none;
}

.Español_hide {
    display: none;
    width: 100%;
    height: 100%;
}

.Catalan_show {
    display: block;
    width: 100%;
    height: 100%;
}

.Gallego_show {
    display: block;
    width: 100%;
    height: 100%;
}

.Euskera_show {
    display: block;
    width: 100%;
    height: 100%;
}

.gmail {
    color: #bebbbd;
    height: 5%;
    width: 100%;
    display: inline-flex;
}

.gmail1 {
    margin-left: 0.5%;
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    gap: 1.5%;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.gmail2 {
    width: 48%;
    display: inline-flex;
    flex-direction: row;
    gap: 1.5%;
    justify-content: right;
    align-items: center;
    text-decoration: none;
}

.login {
    color: white;
    background-color: rgb(31, 140, 241);
    height: 95%;
    width: 20%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(31, 140, 241);
    border-radius: 0.3em;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;
}

.login:hover {
    color: white;
    text-decoration: none;
}

.texto {
    color: #bebbbd;
    text-decoration: none;
}

.texto:hover {
    transition: all 0.2s ease-out;
    text-decoration: underline;
}

.contenedor1 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

svg.apps-ggl-icons {
    height: 100%;
    width: auto;
    color: white;
}

.apps {
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in;
}

.barra {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.search-icon {
    height: 20px;
    width: 20px;
}

.search_text {
    color: white;
    background-color: #272727;
    border: 1px solid #bebbbd;
    border-radius: 5em;
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    gap: 2%;
}

.search_text:hover {
    color: white;
    background-color: #696969;
    border: #696969 1px solid;
}

#search_bar {
    width: 90%;
    background-color: transparent;
    border: 0;
    border-color: transparent;
    height: 95%;
    color: white;
    font-size: medium;
    text-decoration: solid;
    outline: 0;
}

.contenedor2 {
    height: 12%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.texto2,.texto3 {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texto2 {
    height: 40%;
    width: 12.5%;
    background-color: #3b3b3b;
    border: #3b3b3b 1px solid;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.texto3 {
    height: 40%;
    width: 12.5%;
    background-color: #3b3b3b;
    border: #3b3b3b 1px solid;
    border-radius: 0.5em;
    justify-content: center;
    display: flex;
    transition: all 0.2s ease-in;
}

.texto2:hover, .texto3:hover {
    border: #bebbbd 1px solid;
    transition: all 0.2s ease-out;
    color: #ffffff;
    text-decoration: none;
}

.idiomas {
    height: 26.5%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    color: #bebbbd;
}

.idiomas div {
    text-decoration: none;
    color: rgb(31, 140, 241);
}

.idiomas div:hover {
    text-decoration: underline;
    color: rgb(31, 140, 241);
    cursor: pointer;
}

.contenedor3 {
    width: 102%;
    margin-left: -1%;
    height: 4.5%;
    display: flex;
    color: #bebbbd;
    background-color: #181818;
    align-items: center;
    font-size: medium;
}

.contenedor3 p {
    margin-left: 1%;
}

.contenedor4 {
    margin-top: 0.1%;
    width: 101%;
    margin-left: -1%;
    height: 5.5%;
    display: flex;
    color: #bebbbd;
    background-color: #181818;
    align-items: center;
    font-size: small;
}

.contenedor4 a {
    text-decoration: none;
    color: #bebbbd;
}

.izquierdafooter {
    margin-left: 1%;
    width: 100%;
    gap: 2%;
    display: flex;
    justify-content: left;
    font-size: small;
}

.centrofooter {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-size: small;
}

.hoja {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.derechafooter {
    margin-right: 1%;
    width: 100%;
    gap: 2%;
    display: flex;
    justify-content: right;
    font-size: small;
}

a:hover {
    color: #bebbbd;
    text-decoration: #bebbbd;
    text-decoration: underline;
}

@media screen and (max-width:500px) {
    .resolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        color: black;
        font-size: larger;
        font-family: "Helvetica", "Arial";
        z-index: 10;
    }
    .resolution a {
        cursor: help;
    }
}

@media screen and (max-height:500px) {
    .resolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        color: black;
        font-size: larger;
        font-family: "Helvetica", "Arial";
        z-index: 10;
    }
    .resolution a {
        cursor: help;
    }
}
.contenedor2 div{
    cursor: pointer;
}