div.headers {
    display: flex;
    width: 80vw;
    height: 80vh;
    align-items: center;
    position: absolute;
    top: 3vh;
    right: 0;
    z-index: 1;
}

iframe.notepad {
    border-top: 0;
}

div.np-head {
    display: inline-flex;
    width: 70vw;
    height: 36px;
    background-color: white;
    color: black;
    top: 5%;
    position: absolute;
    z-index: 10000;
    border: 2px solid black;
    border-bottom: 30px solid white;
}

div.headers img {
    height: 2em;
    margin-left: 10px;
    margin-right: 10px;
}

div.np-head-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.np-head-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

div.np-head-right p {
    font-size: 1.5em;
}

div.np-head-m {
    width: 4em;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div.np-head-close {
    width: 4em;
    height: auto;
    display: flex;
    justify-content: center;
}

div.np-head-close:hover {
    background-color: rgb(255, 103, 103);
}

div.np-head-m:hover {
    background-color: rgb(186, 186, 186);
}

div.np-head-m span {
    font-size: 1.6em;
}