body {
    background-image: url(../img/james-decrypter.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

aside {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}

main {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

img.logo {
    height: 15em;
}