* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.res-titulo {
    text-align: center;
    background-color: rgb(0, 14, 95);
    color: #FFFFFF;
    text-decoration: underline;
}

div.res-cuerpo-2 {
    color: rgb(0, 14, 95);
}

div.res-cuerpo-3 {
    color: rgb(0, 14, 95);
}

span {
    color: #740000
}

div.res-alt {
    font-size: 7vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button.btn-history {
    background-color: rgb(0, 14, 95);
    color: #FFFFFF;
    border: 1px solid rgb(0, 14, 95);
    border-radius: 10px;
    width: 9em;
    height: 2.5em;
    font-size: 1.5em;
    font-weight: bolder;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

button.btn-history:hover {
    cursor: pointer;
}

div.res-alt-2 {
    margin-top: 1em;
    text-align: center;
    width: cover;
    height: cover;
}