* {
    margin: 0;
    padding: 0;
}

div.np-head {
    display: grid;
    grid-template-columns: 5% 70% 15%;
    width: cover;
    background-color: rgb(193, 236, 0);
    border-top-color: 1px solid rgb(0, 95, 238);
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

img.np-icon {
    height: 2em;
    width: 2em;
    padding-left: 15%;
    padding-top: 3%;
}

p.np-title {
    text-align: left;
}

img.np-minimizebtn {
    height: 1.7em;
    width: 1.7em;
}

img.np-fullscreenbtn-disabled {
    height: 1.7em;
    width: 1.7em;
    margin-top: 4px;
}

img.np-closebtn {
    height: 1.3em;
    width: 1.3em;
    margin-bottom: 3.5px;
}

div.np-head-col2 {
    line-height: 2em;
    font-size: 20px;
}

div.np-head-col3 {
    position: absolute;
    right: 0;
}

div.np-head-col3>img {
    margin-right: 10px;
}

div.np-body {
    width: cover;
}

@media (max-width: 576px) {
    img.np-minimizebtn {
        height: 1.1em;
        width: 1.1em;
    }
    img.np-fullscreenbtn-disabled {
        height: 1.1em;
        width: 1.1em;
        margin-top: 4px;
    }
    img.np-closebtn {
        height: 0.9em;
        width: 0.9em;
        margin-bottom: 3.5px;
    }
}

@media (max-width: 692px) {
    img.np-minimizebtn {
        height: 1.3em;
        width: 1.3em;
    }
    img.np-fullscreenbtn-disabled {
        height: 1.3em;
        width: 1.3em;
        margin-top: 4px;
    }
    img.np-closebtn {
        height: 1em;
        width: 1em;
        margin-bottom: 3.5px;
    }
}

@media (max-width: 757px) {
    img.np-minimizebtn {
        height: 1.5em;
        width: 1.5em;
    }
    img.np-fullscreenbtn-disabled {
        height: 1.5em;
        width: 1.5em;
        margin-top: 4px;
    }
    img.np-closebtn {
        height: 1.1em;
        width: 1.1em;
        margin-bottom: 3.5px;
    }
}