* {
    padding: 0;
    border: 0;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

div.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user_icon {
    padding-top: 11%;
}

.user_text {
    font-family: 'Segoe UI';
    font-size: 50px;
    color: white;
}

.email_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_text input {
    border: 2.5px solid rgb(33, 109, 196);
    width: 339px;
    height: 35px;
    margin-top: 1.6%;
    font-family: 'Segoe UI';
}

.password {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.password_text {
    width: 300px;
    height: 35px;
    margin-top: 0.8%;
    border: 1px solid black;
    font-family: 'Segoe UI';
    border-right: 0px;
    border: 2.5px solid rgb(33, 109, 196);
}

#password_button {
    width: 38px;
    height: 40px;
    border: 2.5px solid rgb(33, 109, 196);
    cursor: pointer;
    margin-top: 0.8%;
}

#password_button:hover {
    color: white;
    background-color: rgb(33, 109, 196);
}

.login_options a {
    color: white;
    font-family: 'Segoe UI';
    text-decoration: none;
}

.login_options {
    margin-top: 1%;
}

.login_pinkey {
    display: inline;
}

#numeric_keyboard {
    padding-right: 1%;
    padding-top: 1%;
}

#key_icon {
    padding-left: 1%;
    padding-top: 1%;
}

p {
    color: white;
    font-family: 'Segoe UI';
    font-size: xx-large;
    text-align: center;
    padding-top: 5%;
}


/* Incorrecto */

.incorrecto {
    background-color: white;
    height: 200px;
    width: 600px;
    position: absolute;
    visibility: hidden;
    bottom: 40%;
    left: 35%;
    right: 50%;
}

.button_error {
    width: 70px;
    height: 25px;
    z-index: 1;
    position: absolute;
    top: 17vh;
    right: 2vh;
    background-color: lightgray;
    border: 2px solid gray;
}

.button_error:hover {
    border-color: #357EC7;
    cursor: pointer;
}

.button_error:active {
    font-size: 13px;
}

.top_bar {
    z-index: 1;
    background-color: transparent;
    width: 600px;
    height: 30px;
}

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1.6vh;
    top: 0.7vh;
}

.wrong {
    z-index: 1;
    position: absolute;
    top: 4vh;
    left: 2vh;
    width: 55px;
    height: 55px;
}

.texto1 {
    z-index: 1;
    position: absolute;
    top: 4.5vh;
    left: 9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.button_error2 {
    width: 90px;
    height: 25px;
    z-index: 1;
    position: absolute;
    top: 17vh;
    right: 10vh;
    background-color: lightgray;
    border: 2px solid gray;
}

.button_error2:hover {
    border-color: #357EC7;
    cursor: pointer;
}

.button_error2 :active {
    font-size: 13px;
}

.icon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0.5vh;
    top: 0.4vh;
}

.texterror {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 3.5vh;
    top: 0.33vh;
}

.closeicon {
    width: 50px;
    position: absolute;
    height: 30px;
    right: 0px;
    transition: ease-in all 0.1s;
}

.closeicon:hover {
    position: absolute;
    right: 0px;
    background-color: red;
    opacity: 50%;
}