/*CSS GENERAL*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(24, 1, 83);
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#option1{
    display: block;
    width: 60%;
    height: 70%;
    border: 3px solid rgba(175, 220, 255, 0.750);
    border-radius: 0.3em;
}

#option2 {
    display: none;
    width: 60%;
    height: 70%;
    border: 3px solid rgba(175, 220, 255, 0.750);
    border-radius: 0.3em;
}

#option2_error {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 155, 255);
}

#option3 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 155, 255);
}

#option4 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 155, 255);
}

.header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: rgb(175, 220, 255, 0.750);
}

.header_left {
    width: 50%;
    display: flex ;
    justify-content: left;
    margin-left: 2%;
    color: black;
    font-size: small;
}

.close:hover {
    background-color: rgb(180, 0, 0);
}


.img_windows {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS OPTION 1*/

.install_now {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_install_now {
    width: 20%;
    height: 25%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.1em;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_install_now:hover {
    text-decoration: underline;
}

.repair_system {
    width: 100%;
    height: 11%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
}

.text_repair_system {
    color: white;
    font-size: small;
}

.text_repair_system:hover {
    text-decoration: underline;
}

.microsoft_text {
    width: 100%;
    height: 6%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
}

.text_microsoft_text {
    color: white;
    font-size: small;
} 


/*CSS OPTION 2*/

.text_option2 {
    width: 100%;
    height: 20%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
    gap: 5%;
}

.help_text {
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
}


.next_bloq {
    width: 99%;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/*CSS OPTION 2 ERROR*/

.content_option2_error {
    width: 100;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_option2_error_2 {
    width: 95%;
    height: 95%;
    display: inline-flex;
    flex-direction: column;
    gap: 8%;
    margin-left: 1%;
}

.text_content_option2_error {
    color: white;
    letter-spacing: 0.2em;
    font-size: 5em;
}

.text_ingles {
    color: white;
    font-size: 1em;
}

.text_frances {
    color: white;
    font-size: 1em;
}

.reload_option2 {
    color: white;
    text-decoration: underline;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

/*CSS OPTION 3*/

.content_option3 {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.text_content_option3 {
    color: white;
    font-size: larger;
}

#autoProgress {
    color: white;
    font-size: larger
}

.time_lapse {
    color: white;
    font-size: larger;
}

@keyframes time_lapse {
    0%{
        color: white;
    }
    50%{
        color: transparent;
    }
    99.9%{
        color: white;
    }
    100%{
        color: transparent;
    }

}

.time_lapse {
    animation: time_lapse 2s infinite;
}

/*CSS OPTION 4*/


