/*CSS GENERAL*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(24, 1, 83);
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#option1{
    display: block;
    width: 60%;
    height: 70%;
    border: 3px solid rgba(175, 220, 255, 0.750);
    border-radius: 0.3em;
}

#option2 {
    display: block;
    width: 60%;
    height: 70%;
    border: 3px solid rgba(175, 220, 255, 0.750);
    border-radius: 0.3em;
}

#option2_error {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 155, 255);
}

#option3 {
    display: none;
    width: 60%;
    height: 70%;
    border: 3px solid rgba(175, 220, 255, 0.750);
    border-radius: 0.3em;
}

#option4 {
    display: none;
    width: 60%;
    height: 70%;
    border: 3px solid rgba(175, 220, 255, 0.750);
    border-radius: 0.3em;
}

#option5 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 155, 255);
}

#option6 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 155, 255);
}

#option7 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
}

#option8 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(4,2,4,255);
}

#option9 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo_desenfocado.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: rgb(175, 220, 255, 0.750);
}

.header_left {
    width: 50%;
    display: flex ;
    justify-content: left;
    margin-left: 2%;
    color: black;
    font-size: small;
}

.close:hover {
    background-color: rgb(180, 0, 0);
}


.img_windows {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS OPTION 1*/

.install_now {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_install_now {
    width: 20%;
    height: 25%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_install_now a{
    color: white;
    text-decoration: none;
    font-size: large;
}

.text_install_now a:hover {
    text-decoration: underline;
}

.repair_system {
    width: 100%;
    height: 11%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
}

.text_repair_system {
    color: white;
    font-size: small;
}

.text_repair_system:hover {
    text-decoration: underline;
}

.microsoft_text {
    width: 100%;
    height: 6%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
}

.text_microsoft_text {
    color: white;
    font-size: small;
} 


/*CSS OPTION 2*/

.text_option2 {
    width: 100%;
    height: 20%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
    gap: 5%;
}

.help_text {
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
}


.next_bloq {
    width: 99%;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/*CSS OPTION 2 ERROR*/

.content_option2_error {
    width: 100;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_option2_error_2 {
    width: 95%;
    height: 95%;
    display: inline-flex;
    flex-direction: column;
    gap: 8%;
    margin-left: 1%;
}

.text_content_option2_error {
    color: white;
    letter-spacing: 0.2em;
    font-size: 5em;
}

.text_ingles {
    color: white;
    font-size: 1em;
}

.text_frances {
    color: white;
    font-size: 1em;
}

.reload_option2 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.reload_option2 a {
    color: white;
    text-decoration: underline;
}

.reload_option2 a:hover {
    color: white;
    text-decoration: underline;
}


/*CSS OPTION 3*/

.content_option3 {
    width: 100%;
    height:75%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.text_content_option3 {
    color: white;
    font-size: larger;
}

#autoProgress {
    color: white;
    font-size: larger
}

.time_lapse {
    color: white;
    font-size: larger;
}

@keyframes time_lapse {
    0%{
        color: white;
    }
    50%{
        color: transparent;
    }
    99.9%{
        color: white;
    }
    100%{
        color: transparent;
    }
}

.time_lapse {
    animation: time_lapse 2s infinite;
}

.bloque {
    width: 100%;
    height: 5%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progress_bar {
    width: 33%;
    height: 35%;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.progress_bar2 {
    width: 65%;
    height: 35%;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.animation_bar {
    width: 0%;
    height: 100%;
    background-color: green;
}

@keyframes animation_bar {
    0%{
        width: 0%;
        height: 100%;
        background-color: green;
    }
    1%{
        width: 1%;
        height: 100%;
        background-color: green;
    }

    2%{
        width: 2%;
        height: 100%;
        background-color: green;
    }
    3%{
        width: 3%;
        height: 100%;
        background-color: green;
    }
    4%{
        width: 4%;
        height: 100%;
        background-color: green;
    }
    5%{
        width: 5%;
        height: 100%;
        background-color: green;
    }
    6%{
        width: 6%;
        height: 100%;
        background-color: green;
    }
    7%{
        width: 7%;
        height: 100%;
        background-color: green;
    }
    8%{
        width: 8%;
        height: 100%;
        background-color: green;
    }
    9%{
        width: 9%;
        height: 100%;
        background-color: green;
    }
    10%{
        width: 10%;
        height: 100%;
        background-color: green;
    }
    11%{
        width: 11%;
        height: 100%;
        background-color: green;
    }
    12%{
        width: 12%;
        height: 100%;
        background-color: green;
    }
    13%{
        width: 13%;
        height: 100%;
        background-color: green;
    }
    14%{
        width: 14%;
        height: 100%;
        background-color: green;
    }
    15%{
        width: 15%;
        height: 100%;
        background-color: green;
    }
    16%{
        width: 16%;
        height: 100%;
        background-color: green;
    }
    17%{
        width: 17%;
        height: 100%;
        background-color: green;
    }
    18%{
        width: 18%;
        height: 100%;
        background-color: green;
    }
    19%{
        width: 19%;
        height: 100%;
        background-color: green;
    }
    20%{
        width: 20%;
        height: 100%;
        background-color: green;
    }
    21%{
        width: 21%;
        height: 100%;
        background-color: green;
    }
    22%{
        width: 22%;
        height: 100%;
        background-color: green;
    }
    23%{
        width: 23%;
        height: 100%;
        background-color: green;
    }
    24%{
        width: 24%;
        height: 100%;
        background-color: green;
    }
    25%{
        width: 25%;
        height: 100%;
        background-color: green;
    }
    26%{
        width: 26%;
        height: 100%;
        background-color: green;
    }
    27%{
        width: 27%;
        height: 100%;
        background-color: green;
    }
    28%{
        width: 28%;
        height: 100%;
        background-color: green;
    }
    29%{
        width: 29%;
        height: 100%;
        background-color: green;
    }
    30%{
        width: 30%;
        height: 100%;
        background-color: green;
    }
    31%{
        width: 31%;
        height: 100%;
        background-color: green;
    }
    32%{
        width: 32%;
        height: 100%;
        background-color: green;
    }
    33%{
        width: 33%;
        height: 100%;
        background-color: green;
    }
    34%{
        width: 34%;
        height: 100%;
        background-color: green;
    }
    35%{
        width: 35%;
        height: 100%;
        background-color: green;
    }
    36%{
        width: 36%;
        height: 100%;
        background-color: green;
    }
    37%{
        width: 37%;
        height: 100%;
        background-color: green;
    }
    38%{
        width: 38%;
        height: 100%;
        background-color: green;
    }
    39%{
        width: 39%;
        height: 100%;
        background-color: green;
    }
    40%{
        width: 40%;
        height: 100%;
        background-color: green;
    }
    41%{
        width: 41%;
        height: 100%;
        background-color: green;
    }
    42%{
        width: 42%;
        height: 100%;
        background-color: green;
    }
    43%{
        width: 43%;
        height: 100%;
        background-color: green;
    }
    44%{
        width: 44%;
        height: 100%;
        background-color: green;
    }
    45%{
        width: 45%;
        height: 100%;
        background-color: green;
    }
    46%{
        width: 46%;
        height: 100%;
        background-color: green;
    }
    47%{
        width: 47%;
        height: 100%;
        background-color: green;
    }
    48%{
        width: 48%;
        height: 100%;
        background-color: green;
    }
    49%{
        width: 49%;
        height: 100%;
        background-color: green;
    }
    50%{
        width: 50%;
        height: 100%;
        background-color: green;
    }
    51%{
        width: 51%;
        height: 100%;
        background-color: green;
    }
    52%{
        width: 52%;
        height: 100%;
        background-color: green;
    }
    53%{
        width: 53%;
        height: 100%;
        background-color: green;
    }
    54%{
        width: 54%;
        height: 100%;
        background-color: green;
    }
    55%{
        width: 55%;
        height: 100%;
        background-color: green;
    }
    56%{
        width: 56%;
        height: 100%;
        background-color: green;
    }
    57%{
        width: 57%;
        height: 100%;
        background-color: green;
    }
    58%{
        width: 58%;
        height: 100%;
        background-color: green;
    }
    59%{
        width: 59%;
        height: 100%;
        background-color: green;
    }
    60%{
        width: 60%;
        height: 100%;
        background-color: green;
    }
    61%{
        width: 61%;
        height: 100%;
        background-color: green;
    }
    62%{
        width: 62%;
        height: 100%;
        background-color: green;
    }
    63%{
        width: 63%;
        height: 100%;
        background-color: green;
    }
    64%{
        width: 64%;
        height: 100%;
        background-color: green;
    }
    65%{
        width: 65%;
        height: 100%;
        background-color: green;
    }
    66%{
        width: 66%;
        height: 100%;
        background-color: green;
    }
    67%{
        width: 67%;
        height: 100%;
        background-color: green;
    }
    68%{
        width: 68%;
        height: 100%;
        background-color: green;
    }
    69%{
        width: 69%;
        height: 100%;
        background-color: green;
    }
    70%{
        width: 70%;
        height: 100%;
        background-color: green;
    }
    71%{
        width: 71%;
        height: 100%;
        background-color: green;
    }
    72%{
        width: 72%;
        height: 100%;
        background-color: green;
    }
    73%{
        width: 74%;
        height: 100%;
        background-color: green;
    }
    74%{
        width: 74%;
        height: 100%;
        background-color: green;
    }
    75%{
        width: 75%;
        height: 100%;
        background-color: green;
    }
    76%{
        width: 76%;
        height: 100%;
        background-color: green;
    }
    77%{
        width: 77%;
        height: 100%;
        background-color: green;
    }
    78%{
        width: 78%;
        height: 100%;
        background-color: green;
    }
    79%{
        width: 79%;
        height: 100%;
        background-color: green;
    }
    80%{
        width: 80%;
        height: 100%;
        background-color: green;
    }
    81%{
        width: 81%;
        height: 100%;
        background-color: green;
    }
    82%{
        width: 82%;
        height: 100%;
        background-color: green;
    }
    83%{
        width: 83%;
        height: 100%;
        background-color: green;
    }
    84%{
        width: 84%;
        height: 100%;
        background-color: green;
    }
    85%{
        width: 85%;
        height: 100%;
        background-color: green;
    }
    86%{
        width: 86%;
        height: 100%;
        background-color: green;
    }
    87%{
        width: 87%;
        height: 100%;
        background-color: green;
    }
    88%{
        width: 88%;
        height: 100%;
        background-color: green;
    }
    89%{
        width: 89%;
        height: 100%;
        background-color: green;
    }
    90%{
        width: 90%;
        height: 100%;
        background-color: green;
    }
    91%{
        width: 91%;
        height: 100%;
        background-color: green;
    } 
    92%{
        width: 92%;
        height: 100%;
        background-color: green;
    }
    93%{
        width: 93%;
        height: 100%;
        background-color: green;
    }
    94%{
        width: 94%;
        height: 100%;
        background-color: green;
    }
    95%{
        width: 95%;
        height: 100%;
        background-color: green;
    }
    96%{
        width: 96%;
        height: 100%;
        background-color: green;
    }
    97%{
        width: 97%;
        height: 100%;
        background-color: green;
    }
    98%{
        width: 98%;
        height: 100%;
        background-color: green;
    }
    99%{
        width: 99%;
        height: 100%;
        background-color: green;
    }
    100%{
        width: 100%;
        height: 100%;
        background-color: green;
    }
}

.animation_bar {
    animation: animation_bar 20s ease;
    width: 100%;
    height: 100%;
    background-color: green;

}

.bloque2 {
    width: 100%;
    height: 10%;
    display: inline-flex;
    flex-direction: row;
}

.text_izq {
    width: 33%;
    height: 100%;
    display: inline-flex;
    color: white;
    margin-left: 1%;
    gap: 1%;
}

.text_der {
    width: 67%;
    height: 100%;
    display: inline-flex;
    color: white;
    margin-left: 1%;
    gap: 1%;
}

/*CSS OPTION 4*/

.content_option4 {
    width: 100%;
    height:75%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.text_content_option4 {
    color: white;
    font-size: larger;
}

#autoProgress2 {
    color: white;
    font-size: larger
}

.time_lapse2 {
    color: white;
    font-size: larger;
}

@keyframes time_lapse {
    0%{
        color: white;
    }
    50%{
        color: transparent;
    }
    99.9%{
        color: white;
    }
    100%{
        color: transparent;
    }
}

.time_lapse2 {
    animation: time_lapse 2s infinite;
}

.bloque {
    width: 100%;
    height: 5%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.progress_bar3 {
    width: 33%;
    height: 35%;
    background-color: green;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.progress_bar4 {
    width: 65%;
    height: 35%;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.animation_bar2 {
    width: 0%;
    height: 100%;
    background-color: green;
}

@keyframes animation_bar2 {
    0%{
        width: 0%;
        height: 100%;
        background-color: green;
    }
    1%{
        width: 1%;
        height: 100%;
        background-color: green;
    }

    2%{
        width: 2%;
        height: 100%;
        background-color: green;
    }
    3%{
        width: 3%;
        height: 100%;
        background-color: green;
    }
    4%{
        width: 4%;
        height: 100%;
        background-color: green;
    }
    5%{
        width: 5%;
        height: 100%;
        background-color: green;
    }
    6%{
        width: 6%;
        height: 100%;
        background-color: green;
    }
    7%{
        width: 7%;
        height: 100%;
        background-color: green;
    }
    8%{
        width: 8%;
        height: 100%;
        background-color: green;
    }
    9%{
        width: 9%;
        height: 100%;
        background-color: green;
    }
    10%{
        width: 10%;
        height: 100%;
        background-color: green;
    }
    11%{
        width: 11%;
        height: 100%;
        background-color: green;
    }
    12%{
        width: 12%;
        height: 100%;
        background-color: green;
    }
    13%{
        width: 13%;
        height: 100%;
        background-color: green;
    }
    14%{
        width: 14%;
        height: 100%;
        background-color: green;
    }
    15%{
        width: 15%;
        height: 100%;
        background-color: green;
    }
    16%{
        width: 16%;
        height: 100%;
        background-color: green;
    }
    17%{
        width: 17%;
        height: 100%;
        background-color: green;
    }
    18%{
        width: 18%;
        height: 100%;
        background-color: green;
    }
    19%{
        width: 19%;
        height: 100%;
        background-color: green;
    }
    20%{
        width: 20%;
        height: 100%;
        background-color: green;
    }
    21%{
        width: 21%;
        height: 100%;
        background-color: green;
    }
    22%{
        width: 22%;
        height: 100%;
        background-color: green;
    }
    23%{
        width: 23%;
        height: 100%;
        background-color: green;
    }
    24%{
        width: 24%;
        height: 100%;
        background-color: green;
    }
    25%{
        width: 25%;
        height: 100%;
        background-color: green;
    }
    26%{
        width: 26%;
        height: 100%;
        background-color: green;
    }
    27%{
        width: 27%;
        height: 100%;
        background-color: green;
    }
    28%{
        width: 28%;
        height: 100%;
        background-color: green;
    }
    29%{
        width: 29%;
        height: 100%;
        background-color: green;
    }
    30%{
        width: 30%;
        height: 100%;
        background-color: green;
    }
    31%{
        width: 31%;
        height: 100%;
        background-color: green;
    }
    32%{
        width: 32%;
        height: 100%;
        background-color: green;
    }
    33%{
        width: 33%;
        height: 100%;
        background-color: green;
    }
    34%{
        width: 34%;
        height: 100%;
        background-color: green;
    }
    35%{
        width: 35%;
        height: 100%;
        background-color: green;
    }
    36%{
        width: 36%;
        height: 100%;
        background-color: green;
    }
    37%{
        width: 37%;
        height: 100%;
        background-color: green;
    }
    38%{
        width: 38%;
        height: 100%;
        background-color: green;
    }
    39%{
        width: 39%;
        height: 100%;
        background-color: green;
    }
    40%{
        width: 40%;
        height: 100%;
        background-color: green;
    }
    41%{
        width: 41%;
        height: 100%;
        background-color: green;
    }
    42%{
        width: 42%;
        height: 100%;
        background-color: green;
    }
    43%{
        width: 43%;
        height: 100%;
        background-color: green;
    }
    44%{
        width: 44%;
        height: 100%;
        background-color: green;
    }
    45%{
        width: 45%;
        height: 100%;
        background-color: green;
    }
    46%{
        width: 46%;
        height: 100%;
        background-color: green;
    }
    47%{
        width: 47%;
        height: 100%;
        background-color: green;
    }
    48%{
        width: 48%;
        height: 100%;
        background-color: green;
    }
    49%{
        width: 49%;
        height: 100%;
        background-color: green;
    }
    50%{
        width: 50%;
        height: 100%;
        background-color: green;
    }
    51%{
        width: 51%;
        height: 100%;
        background-color: green;
    }
    52%{
        width: 52%;
        height: 100%;
        background-color: green;
    }
    53%{
        width: 53%;
        height: 100%;
        background-color: green;
    }
    54%{
        width: 54%;
        height: 100%;
        background-color: green;
    }
    55%{
        width: 55%;
        height: 100%;
        background-color: green;
    }
    56%{
        width: 56%;
        height: 100%;
        background-color: green;
    }
    57%{
        width: 57%;
        height: 100%;
        background-color: green;
    }
    58%{
        width: 58%;
        height: 100%;
        background-color: green;
    }
    59%{
        width: 59%;
        height: 100%;
        background-color: green;
    }
    60%{
        width: 60%;
        height: 100%;
        background-color: green;
    }
    61%{
        width: 61%;
        height: 100%;
        background-color: green;
    }
    62%{
        width: 62%;
        height: 100%;
        background-color: green;
    }
    63%{
        width: 63%;
        height: 100%;
        background-color: green;
    }
    64%{
        width: 64%;
        height: 100%;
        background-color: green;
    }
    65%{
        width: 65%;
        height: 100%;
        background-color: green;
    }
    66%{
        width: 66%;
        height: 100%;
        background-color: green;
    }
    67%{
        width: 67%;
        height: 100%;
        background-color: green;
    }
    68%{
        width: 68%;
        height: 100%;
        background-color: green;
    }
    69%{
        width: 69%;
        height: 100%;
        background-color: green;
    }
    70%{
        width: 70%;
        height: 100%;
        background-color: green;
    }
    71%{
        width: 71%;
        height: 100%;
        background-color: green;
    }
    72%{
        width: 72%;
        height: 100%;
        background-color: green;
    }
    73%{
        width: 74%;
        height: 100%;
        background-color: green;
    }
    74%{
        width: 74%;
        height: 100%;
        background-color: green;
    }
    75%{
        width: 75%;
        height: 100%;
        background-color: green;
    }
    76%{
        width: 76%;
        height: 100%;
        background-color: green;
    }
    77%{
        width: 77%;
        height: 100%;
        background-color: green;
    }
    78%{
        width: 78%;
        height: 100%;
        background-color: green;
    }
    79%{
        width: 79%;
        height: 100%;
        background-color: green;
    }
    80%{
        width: 80%;
        height: 100%;
        background-color: green;
    }
    81%{
        width: 81%;
        height: 100%;
        background-color: green;
    }
    82%{
        width: 82%;
        height: 100%;
        background-color: green;
    }
    83%{
        width: 83%;
        height: 100%;
        background-color: green;
    }
    84%{
        width: 84%;
        height: 100%;
        background-color: green;
    }
    85%{
        width: 85%;
        height: 100%;
        background-color: green;
    }
    86%{
        width: 86%;
        height: 100%;
        background-color: green;
    }
    87%{
        width: 87%;
        height: 100%;
        background-color: green;
    }
    88%{
        width: 88%;
        height: 100%;
        background-color: green;
    }
    89%{
        width: 89%;
        height: 100%;
        background-color: green;
    }
    90%{
        width: 90%;
        height: 100%;
        background-color: green;
    }
    91%{
        width: 91%;
        height: 100%;
        background-color: green;
    } 
    92%{
        width: 92%;
        height: 100%;
        background-color: green;
    }
    93%{
        width: 93%;
        height: 100%;
        background-color: green;
    }
    94%{
        width: 94%;
        height: 100%;
        background-color: green;
    }
    95%{
        width: 95%;
        height: 100%;
        background-color: green;
    }
    96%{
        width: 96%;
        height: 100%;
        background-color: green;
    }
    97%{
        width: 97%;
        height: 100%;
        background-color: green;
    }
    98%{
        width: 98%;
        height: 100%;
        background-color: green;
    }
    99%{
        width: 99%;
        height: 100%;
        background-color: green;
    }
    100%{
        width: 100%;
        height: 100%;
        background-color: green;
    }
}

.animation_bar2 {
    animation: animation_bar2 20s ease;
    width: 100%;
    height: 100%;
    background-color: green;

}

.bloque2 {
    width: 100%;
    height: 10%;
    display: inline-flex;
    flex-direction: row;
}

.text_izq {
    width: 33%;
    height: 100%;
    display: inline-flex;
    color: white;
    margin-left: 1%;
    gap: 1%;
}

.text_der {
    width: 67%;
    height: 100%;
    display: inline-flex;
    color: white;
    margin-left: 1%;
    gap: 1%;
}

/*CSS OPTION5*/

.content_option5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_lapse3 {
    color: white;
    font-size: x-large;
}

@keyframes time_lapse3 {
    0%{
        color: white;
    }
    50%{
        color: transparent;
    }
    99.9%{
        color: white;
    }
    100%{
        color: transparent;
    }
}

.time_lapse3 {
    animation: time_lapse3 2s infinite;
}

/*CSS OPTION6*/

.content_option6 {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0%;
}

.text_option6 {
    color: white;
    font-size: x-large;
}

.loading_gif {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

@keyframes time_lapse4 {
    0%{
        color: white;
    }
    50%{
        color: transparent;
    }
    99.9%{
        color: white;
    }
    100%{
        color: transparent;
    }
}

.text_option6 {
    animation: time_lapse4 3s infinite;
}

#autoProgress3 {
    color: transparent;
}

/*CSS OPTION7*/

#autoProgress4 {
    color: transparent;
}

/*CSS OPTION8*/

.content_option8 {
    width: 100%;
    height: 120%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#autoProgress5 {
    color: transparent;
}

.loading_gif2 {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
}

/*CSS OPTION9*/

.content_option9 {
    width: 100%;
    height: 90%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: large;
    transition: all 1s ease-in;
}

.login:hover {
    width: 15%;
    height: 100%;
    letter-spacing: 0.2em;
    margin-top: 2%;
    transition: all 1s ease-out;
}
