*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 140, 255);
}
main{
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.562);
    border: 15px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: 80%;
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: verdana;
}