* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fondo1 {
    background: linear-gradient(white, black);
}

.roberto,
.absolute {
    position: absolute;
    top: 15%
}

.roberto img {
    height: 400px;
    width: auto;
}

.ilumination {
    justify-self: center;
    height: 300px;
    width: 400px;
    border-radius: 90%;
    background-color: rgb(255, 255, 255);
    transform: rotate3d(1, 0, 0, 100deg);
    -webkit-transform: rotate3d(1, 0, 0, 100deg);
    -moz-transform: rotate3d(1, 0, 0, 100deg);
    -ms-transform: rotate3d(1, 0, 0, 100deg);
    -o-transform: rotate3d(1, 0, 0, 100deg);
}

.absolute {
    z-index: -1;
    height: 550px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#img1 {
    margin-left: 8%;
}

#img2 {
    display: none;
    margin-top: 8%;
}

#img3 {
    display: none;
}

#img4 {
    display: none;
    margin-top: 5%;
}

#img5 {
    display: none;
    height: 250px;
    margin-top: 46%;
}

.img5rt {
    transform: rotate3d(0, 0, 1, 90deg);
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform: rotate3d(0, 0, 1, 90deg);
    -ms-transform: rotate3d(0, 0, 1, 90deg);
    -o-transform: rotate3d(0, 0, 1, 90deg);
}

.temblor {
    animation: tmbl 0.1s infinite;
    -webkit-animation: tmbl 0.1s infinite;
}

.resolution {
    display: none;
}

@keyframes tmbl {
    from {
        width: 100%;
    }
    to {
        width: 90%;
    }
}

@media screen and (max-height:750px) {
    .roberto,
    .absolute {
        position: absolute;
        top: 5%
    }
}

@media screen and (max-width:500px) {
    .resolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        font-size: larger;
        font-family: "Helvetica", "Arial";
        z-index: 10;
    }
    .resolution a {
        cursor: help;
        color: black;
    }
}

@media screen and (max-height:500px) {
    .resolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        color: black;
        font-size: larger;
        font-family: "Helvetica", "Arial";
        z-index: 10;
    }
    .resolution a {
        cursor: help;
    }
}
