* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

html {
    background-color: white;
    overflow: hidden;
}

li,
ol,
ul {
    list-style: none;
}

ol {
    -webkit-box-shadow: 10px 11px 24px 2px rgba(0, 0, 0, 0.72);
    box-shadow: 10px 11px 24px 2px rgba(0, 0, 0, 0.72);
}

.ascii-text {
    font-family: monospace;
    white-space: pre;
}

div.np-limits {
    width: 100vw;
    position: relative;
    display: flex;
    height: 100vh;
    background-color: #00ffff;
    border: 0;
}

div.row-1 {
    display: block;
    width: 100vw;
    height: 95vh;
    padding-left: 10px;
    padding-top: 12.5px;
    word-wrap: break-word;
    font-size: 14px;
}

p.np-body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border: 0;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
}

div.row-3 {
    position: fixed;
    bottom: -5px;
}

div.np-footer {
    width: 100vw;
    height: 4vh;
    display: inline-flex;
    background-color: #F1F0F1;
    border-top: 1px solid #DCDCDD;
}

div.spacer {
    width: 50vw;
    background-color: #F1F0F1;
    border-right: 2px solid #DCDCDD;
}

div.ft-1 {
    width: 17vw;
    background-color: #F1F0F1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: 2px solid #DCDCDD;
}

div.ft-2 {
    width: 17vw;
    background-color: #F1F0F1;
    align-items: center;
    padding-left: 1vw;
    display: flex;
    border-right: 2px solid #DCDCDD;
}

div.ft-3 {
    width: 16vw;
    background-color: #F1F0F1;
    align-items: center;
    padding-left: 1vw;
    display: flex;
}

header {
    display: inline-flex;
    width: 100vw;
    height: 3vh;
    border-bottom: 2px solid #f1f1f1;
}

div.element {
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.element:hover {
    background-color: #c5d7ed;
    border: 1.5px solid #aac9ed;
}

div.dropdown-menus {
    visibility: visible;
    position: absolute;
    z-index: 10000;
}

p {
    cursor: default;
}

li:hover {
    background-color: #c5d7ed;
}

ol {
    background-color: #F2F2F2;
    border: 1.5px solid #cbcbcc;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    width: 20vw;
}

ol li {
    height: 5vh;
    display: flex;
    align-items: center;
}

ol.editar {
    position: absolute;
    left: 7vw;
}

ol.formato {
    position: absolute;
    left: 14vw;
}

ol.vista {
    position: absolute;
    left: 21vw;
}

ol.ayuda {
    position: absolute;
    left: 28vw;
}

li p {
    padding-left: 2.5vw;
}

hr.divider {
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    border: 0.75px solid #cbcbcc;
    width: 97.5%;
}

div.dropdown-menus {
    display: flex;
}

@media screen and (min-width: 900px) {
    div.element {
        width: 5.5vw;
    }
}

@media screen and (max-width: 1120px) {
    div.element {
        width: 7vw;
    }
}

@media screen and (max-width: 900px) {
    div.element {
        width: 8vw;
    }
}

@media screen and (max-width: 790px) {
    div.element {
        width: 9vw;
    }
}

@media screen and (max-width: 710px) {
    div.element {
        width: 10vw;
    }
}

@media screen and (max-width: 635px) {
    div.element {
        width: 11vw;
    }
}

@media screen and (max-width: 540px) {
    div.element {
        width: 12vw;
    }
}

@media screen and (max-width: 499px) {
    div.element {
        width: 15vw;
    }
    div.spacer {
        width: 10vw;
    }
}

@media screen and (max-width: 495px) {
    div.element {
        width: 17vw;
    }
}

@media screen and (max-width:699px) {
    div.ft-1 p {
        font-size: 0.95em;
    }
    div.ft-1 {
        width: 21vw;
    }
    div.spacer {
        width: 46vw;
    }
}

@media screen and (max-width:595px) {
    div.ft-1 p {
        font-size: 0.95em;
    }
    div.ft-1 {
        width: 24vw;
    }
    div.spacer {
        width: 43vw;
    }
}

@media screen and (max-width:525px) {
    div.ft-1 p {
        font-size: 0.95em;
    }
    div.spacer {
        width: 40vw;
    }
    div.ft-1 {
        width: 27vw;
    }
}