*{
    cursor: default;
    font-weight: bold;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
}

body{
    background: rgba(0, 0, 0, 0.932);
    color: white;
    
}
.typing{
    cursor:default;
    margin-left: 0.6vh;
    background-color: transparent;
    color: white;
    border: 0px;
    outline: none;
    text-decoration: none;
    width: 500px;
}
.typing:active{
    background-color: transparent;
    color: white;
    background-color: rgba(0, 0, 0, 0.932);
    border: 0px rgba(0, 0, 0, 0.932);
}